body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  text-align: justify;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1, h2, h3 {
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

p {
  margin-bottom: 20px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Ajoutez d'autres styles personnalisés selon vos besoins */
